<header>
  <p> Hello, {{ currentUser.fullName }}. </p>

  <button (click)="logMeOutPls()"> Log Out </button>
  <p *ngIf="logoutError" class="error">
    {{ logoutError }}
  </p>
</header>

<h2> Camel List </h2>

<p *ngIf="camelListError" class="error">
  {{ camelListError }}
</p>

<ul>
  <li *ngFor="let oneCamel of camelArray">
    <h3> {{ oneCamel.name }} </h3>

    <div [ngSwitch]="oneCamel.humps"
        [ngStyle]="{ 'background-color': oneCamel.color }">
      <img *ngSwitchCase="0" src="/assets/horse.svg">
      <img *ngSwitchCase="1" src="/assets/one-hump.svg">
      <img *ngSwitchCase="2" src="/assets/two-humps.svg">
    </div>

    <p>
      Owned by:
      <b *ngIf="oneCamel.user._id !== currentUser._id">
        {{ oneCamel.user.fullName }}
      </b>

      <b *ngIf="oneCamel.user._id === currentUser._id">
        YOU
      </b>
    </p>
  </li>
</ul>
