<header>
  <p> Hello, {{ currentUser.fullName }}. </p>

  <button (click)="logMeOutPls()"> Log Out </button>
  <p *ngIf="logoutError" class="error">
    {{ logoutError }}
  </p>
</header>

<h2> Camel List </h2>

<p *ngIf="camelListError" class="error">
  {{ camelListError }}
</p>

<button *ngIf="!isShowingForm" (click)="showCamelForm()">
  Add Camel
</button>

<div *ngIf="isShowingForm">
  <h3> Add a New Camel </h3>

  <p *ngIf="saveError" class="error">
    {{ saveError }}
  </p>

  <form (ngSubmit)="saveNewCamel()">
    <label for="camel-name-input"> Camel Name </label>
    <input  id="camel-name-input" type="text" placeholder="Joe the Camel"
        [(ngModel)]="camelName" name="camelName">
    <br>

    <label for="camel-color-input"> Camel Color </label>
    <input  id="camel-color-input" type="color"
        [(ngModel)]="camelColor" name="camelColor">
    <br>

    <label for="camel-humps-input"> Camel Humps </label>
    <input  id="camel-humps-input" type="number" placeholder="2"
        [(ngModel)]="camelHumps" name="camelHumps">
    <br>

    <button> Save Camel </button>
  </form>
</div>

<ul>
  <li *ngFor="let oneCamel of camelArray">
    <h3> {{ oneCamel.name }} </h3>

    <div [ngSwitch]="oneCamel.humps"
        [ngStyle]="{ 'background-color': oneCamel.color }">
      <img *ngSwitchCase="0" src="/assets/images/horse.svg">
      <img *ngSwitchCase="1" src="/assets/images/one-hump.svg">
      <img *ngSwitchCase="2" src="/assets/images/two-humps.svg">
    </div>

    <p>
      Owned by:
      <b *ngIf="oneCamel.user._id !== currentUser._id">
        {{ oneCamel.user.fullName }}
      </b>

      <b *ngIf="oneCamel.user._id === currentUser._id">
        YOU
      </b>
    </p>
  </li>
</ul>
